<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer>
        <div id="elems">
            <div class="inner-rows">
                <a href="#">Chat With Sales</a>
                <a href="tel:+91 9306476948">9306476948</a>
                <a href="mailto:vikrant@gmail.com">vikrant@gmail.com</a>
            </div>

            <div class="inner-rows">
                <a class="top">Solutions</a>
                <a href="">Managed Site</a>
                <a href="">Agencies</a>
                <a href="">Small and Medium sized Business</a>
                <a href="">Freelancers</a>
                <a href="">High Traffic Websites</a>
                <a href="">Web Commerce</a>
            </div>

            <div class="inner-rows">
                <a class="top">Company</a>
                <a href="">About Us</a>
                <a href="">Careers</a>
                <a href="">Customer Stories</a>
                <a href="">Contact</a>
                <a href="">Legal</a>
                <a href="">Press Kit</a>
            </div>

            <div class="inner-rows">
                <a class="top">Resources</a>
                <a href="">Blog</a>
                <a href="">eBooks</a>
                <a href="">Knowledge Base</a>
                <a href="">Customer Reviews</a>
                <a href="">Affilate Program</a>
                <a href="">Strategic Partners</a>
            </div>

            <div class="inner-rows">
                <a href="" class="icons"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="" class="icons"><i class="fa-brands fa-linkedin"></i></a>
                <a href="" class="icons"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="" class="icons"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="" class="icons"><i class="fa-brands fa-square-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>