<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/watch.css">
    <% layout("/layouts/boilerplate") %>
</head>
<body>
    
</body>
</html>
<body>
    <div id="conatiner">
        <div id="watch">
            <video src="Game of Thrones Season 1 Trailer.mp4" controls></video>
            <div><h1>Game</h1><h1 id="of">of</h1><h1 id="thrones">Thrones</h1></div>
        </div>
        <h1 id="movie">Game Of Thrones Season 1 Trailer.mp4</h1>
    </div>
</body>